<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/rabbit
                           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!-- +++++++++++++++++++++++++++++++ 实例连接工厂 start +++++++++++++++++++++++++++++++++++++ -->

    <rabbit:connection-factory id="demoConnectionFactory"
                               virtual-host="${rabbitmq.vhost.test}"
                               connection-factory="abstractConnectionFactory4App"/>

    <!-- +++++++++++++++++++++++++++++++ 实例连接工厂 end ++++++++++++++++++++++++++++++++++++++ -->

    <!-- =============================== mq监听器 start ======================================== -->

    <!-- 定义 消费者示例 -->
    <bean id="testListener" class="cn.ttpai.mqlistener.spring.demo.consumer.listener.TestListener">
        <property name="connectionFactory" ref="demoConnectionFactory"/>
        <property name="queue" value="${rabbitmq.queue.test}"/>
    </bean>

    <!-- ============================= mq监听器 end ============================================ -->

</beans>